/**
* Anax Flat theme.
*/
@import url(modules.less);



html {

background-color: darkgrey;

}
/** --------------------------------------------------------------
 *  Body
 */

 .article {
     img {

         float: right;
         border: 2px solid;
     }

 }

// FOR FONT ALL TO   "a"

@fontSizeH1: 2.375em;
@colorH1BorderBottom: #666;
@borderSizeH1: 1px;

h1 {
    .fontSize(@fontSizeH1);
    font-weight: normal;

    border-bottom: @borderSizeH1 solid @colorH1BorderBottom;
    margin-bottom: @magicNumber - @borderSizeH1;
}

 h1, h2, h3, h4, h5, h6 {
     margin-bottom: @magicNumber;
     color: darkorange;
     font-family: @fontFamilyHeadings;
 }



 .font(@fontSize: 100.01%, @fontFamily: @fontFamilyBody) {
    font: @fontSize/@lineHeight @fontFamily;
}







 a {
     text-decoration: none;
     color: hotpink;
 }

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
 p {
     font-family: 'Baloo Bhaina', cursive;
     color: black;

      margin-bottom: @magicNumber;
 }

li {
    font-family: 'Baloo Bhaina', cursive;
}

.wrap-all {
    background-color: rgb(211,211,211);

    box-shadow: 0 0 30px 5px rgba(0,0,0,1);
}



// text


/** --------------------------------------------------------------
 *  Header
 */


.site-header {

    height: 50px;
    background-color: darkblue;
    border: 3px solid black;


}

.site-logo-text-icon img

{

    float: none;
}


.site-logo-text,
.navbar2,
.profile {
    float: left;
    width: 30%;
    color: orange;
}

.navbar2

{
    width:70%;
}

.site-logo-text {

    font-size: 2em;
    a {
        text-decoration: none;
        color: orange;
    }
}

// Navbar main

.rm-desktop li {

    //background-color: lightgrey;
}

@navbarItemBgColor: lightgrey;

// Navbar max
.rm-max .rm-small .rm-button {

    //font-size: 2em;

}

@maxButtonFontSize: 2em;


/** --------------------------------------------------------------
 *  Logo images
 */


.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

img {

    max-width:100%;
}


/** --------------------------------------------------------------
 *  footer
 */

.footer {
    border-style: solid;
    background-color: darkblue;

}
/** --------------------------------------------------------------
 *  Responsive design
 */
@media screen and (max-width: 970px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        display: none;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 750px) {

    .sidebar {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {

    .footer-column {
        width: 100%;
    }

    .toc {
        font-size: 20px;
    }
    .next-previous  {
    font-size: 20px;
    }
}

@media screen and (max-width: 650px) {



    .site-logo-text {
        width: 90%;
    }

}
