/**
* Anax Flat theme.
*/
@import url(modules.less);



html {

background-color: darkgrey;

}
/** --------------------------------------------------------------
 *  Body
 */

 img {

     max-width:100%;
 }



// FOR FONT ALL TO   "a"

@fontSizeH1: 2.375em;
@colorH1BorderBottom: #666;
@borderSizeH1: 1px;

h1 {
    .fontSize(@fontSizeH1);
    font-weight: normal;

    border-bottom: @borderSizeH1 solid @colorH1BorderBottom;
    margin-bottom: @magicNumber - @borderSizeH1;
}

 h1, h2, h3, h4, h5, h6 {
     margin-bottom: @magicNumber;
     color: darkorange;
     font-family: @fontFamilyHeadings;
 }



 .font(@fontSize: 100.01%, @fontFamily: @fontFamilyBody) {
    font: @fontSize/@lineHeight @fontFamily;
}







 a {
     text-decoration: none;
     color: hotpink;
 }

@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
 p {
     font-family: 'Baloo Bhaina', cursive;
     color: black;

      margin-bottom: @magicNumber;
 }

li {
    font-family: 'Baloo Bhaina', cursive;
}


.inner-wrap {


    background-color: rgb(211,211,211);

    border: black solid 1px;
}



// text


/** --------------------------------------------------------------
 *  Header
 */


.site-header {

    height: 50px;
    background-color: darkblue;
    border: 3px solid black;


}

.site-logo-text-icon img

{

    float: none;
}


.site-logo-text,
.navbar2,
.profile {
    float: left;
    width: 24%;
    color: orange;
}

.navbar2

{
    width:76%;

}

// WOBBLE EFFECT FOR SITE LOGO TEXT

@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.site-logo-text {

    display: inline-block;
     -webkit-transform: translateZ(0);
     -ms-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    font-size: 2em;
    a {
        text-decoration: none;
        color: orange;
    }
}

.site-logo-text:hover {
    -webkit-animation-name: wobble;
      animation-name: wobble;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;

}


// Navbar main

.rm-desktop li {

    -webkit-transition:all .3s ease-out;
      -moz-transition:all .3s ease-out;
      -ms-transition:all .3s ease-out;
      -o-transition:all .3s ease-out;
      transition:all .3s ease-out;

    //background-color: lightgrey;
}
.rm-desktop li:hover {
    -webkit-transform:translate(0px,10px);
-moz-transform:translate(0px,10px);
-ms-transform:translate(0px,10px);
-o-transform:translate(0px,10px);
transform:translate(0px,10px);
    }
@navbarItemBgColor: lightgrey;

// Navbar max
.rm-max .rm-small .rm-button {

    //font-size: 2em;

}

@maxButtonFontSize: 2em;


/** --------------------------------------------------------------
 *  Logo images
 */


.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}




/** --------------------------------------------------------------
 *  footer
 */

.footer {
    border-style: solid;
    background-color: darkblue;

}


/** --------------------------------------------------------------
 *  TABLE
 */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: orange;
}

tr:nth-child(even) {
    background-color: rgb(44,21,39);
}
/** --------------------------------------------------------------
 *  Responsive design
 */
@media screen and (max-width: 970px) {
    .site-logo-text {
        width: 40%;
    }

    .navbar2 {
        display: none;
    }

    .profile {
        width: 10%;
    }
}

@media screen and (max-width: 750px) {

    .sidebar {
        width: 100%;
    }

}

@media screen and (max-width: 700px) {

    .footer-column {
        width: 100%;
    }

    .toc {
        font-size: 20px;
    }
    .next-previous  {
    font-size: 20px;
    }
}

@media screen and (max-width: 650px) {



    .site-logo-text {
        width: 90%;
    }

}
